*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #444;
  color: #fff;
}
.container{
  text-align: center;
 
}
.images{
  display: inline-block;
  flex-wrap: wrap;
}
img{
  width: 160px;
  height: 200px;
  padding: 5px;
  margin: 10px;
  border: 1px solid #fff;
}
